@using MemberManagement.ViewModels.ContactViewModels; 

@model GetContactPagedResult<MemberManagement.ViewModels.ContactViewModels.ExMembers>

@{
    ViewData["Title"] = "ListMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListMember</h1>

<p>
    @Html.ActionLink("AddMember", "AddMember", new {  id=Model.IdContact  })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên hội viên
            </th>
            <th>
                Chức danh
            </th>
            <th>
               Công việc
            </th>
            <th>
               Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalTitles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Work)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
