@model MemberManagement.ViewModels.MemberViewModels.MemberVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Chi tiết</h1>
    <dl class="row">
        <dt class="col-sm-2">
            Họ và tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birth)
        </dd>
        <dt class="col-sm-2">
            Giới tính
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            Ngày tham gia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt class="col-sm-2">
            CMND
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idcard)
        </dd>
        <dt class="col-sm-2">
            Ghi chú
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTtles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalTtles)
        </dd>

        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Công việc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word)
        </dd>
        <dt class="col-sm-2">
            Số điện thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
        <a asp-action="Index">Trở về</a>
    </div>
</div>
</div>