@using MemberManagement.ViewModels.Common
@model PagedResult<MemberManagement.ViewModels.MemberViewModels.MemberVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách hội viên</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Hội viên</li>
    </ol>

    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Member">Tạo mới</a>
                    <a  class="btn btn-success" href="http://localhost:5001/api/Members/ExportMember" download>Xuất danh sách</a>
                </div>
              
                <div class="col-md-7 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Member/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAler" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="title-th">
                            <th>
                                Tên hội viên
                            </th>
                            <th>
                                Ngày sinh
                            </th>
                            <th>
                                Giới tính
                            </th>
                            <th>
                                Ngày tham gia
                            </th>
                            <th>
                                Chức vụ
                            </th>
                            <th>
                                Ghi chú
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Birth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.JoinDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Notes)
                                </td>
                                
                                @if(ViewBag.Role ==  "Admin"){
                                          <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class='fas fa-wrench' style='font-size:24px; color:black'></i></a> |
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class='fas fa-list' style='font-size:24px; color:black'></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class='fas fa-trash' style='font-size:24px; color:black'></i></a>|
                                </td>
                                    }
                              
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>



