@model MemberManagement.ViewModels.PostViewModels.PostVM

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Chi tiết bài viết </h1>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
           @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
             @Html.Raw(Model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Trở về</a>
</div>
            