@using MemberManagement.ViewModels.Common
@model PagedResult<MemberManagement.ViewModels.FundViewModels.FundVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create" asp-controller="Funds">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tên Quỹ
            </th>
            <th>
                Tổng quỹ
            </th>
            <th>
                Ngày lập 
            </th>
            <th>
                Mô tả
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFund)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Detail", "ListMember", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                @Html.ActionLink("ListAction", "ListAction", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>h
</table>
