@model MemberManagerment.ViewModels.FamilyViewModels.FamilyVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FamilyVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousldRepre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousldRepre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MumberMembers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MumberMembers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMember)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
