
@using MemberManagement.ViewModels.Common
@using MemberManagerment.ViewModels.FamilyViewModels
@model PagedResult<FamilyVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách hộ gia đình</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách gia đình</li>
    </ol>

    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Families/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAler" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Số thứ tự
                            </th>
                            <th>
                                Tên chủ hộ
                            </th>
                            <th>
                                Năm sinh
                            </th>
                            <th>
                                Số thành viên
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.HousldRepre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.YearBirth)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MumberMembers)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>|
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>